/* <!--CSS: Parte 1 - Eddie --> */
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

@font-face {
    font-family: AvenirNext sans-serif;
    src: url(fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
    font-family: AvenirNextBold sans-serif;
    src: url(fonts/AvenirNextLTPro-Bold.otf);
}

@font-face {
    font-family: UbuntuCondensed-Regular;
    src: url(fonts/UbuntuCondensed-Regular.ttf);
}


body {
    font-family: AvenirNext sans-serif;
}

h1 {
    margin-top: 35px;
    padding-right: 52px;
    padding-bottom: 45px;
    padding-left: 52px;
    color: #ff0026;
    font-weight: 700px;
    font-family: AvenirNextBold sans-serif;
    font-size: 70px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;

}

.logo {
    height: 100%;
    margin: 250px;
}

.logo img{
    width: 300px;
    display: block;
    margin: auto;
}

/* <!--Fin Parte 1 --> */

/* <!--CSS: Parte 2 - Gabriel --> */

main {
    text-align: center;
  }

input {
    border: 1px solid #b9b9b9;
    padding: 6px 20px;
    height: 20px;
    max-width: 135px;
    height: 75%;
    margin-right: 2px;
    border-radius: 8px;
    font-size: 20px;
  }
input:focus{
    border: 2px solid;
    border-color: rgb(0, 132, 255);

    outline: 0 none;
}

form {
    height: 55px; 
    margin-bottom: 30px;
    
  }

  button{
    background-color: #FF0026;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 1px 16px;
    margin: 6px;
    height: 100%;
    border-radius: 8px;
    font-family: AvenirNextBold  sans-serif;
    font-size: 20px;
  }

#login , a{
    font-size: 18px;
    
    color: #888B90;
}

#login a{
    font-weight: bold;
    font-family: AvenirNextBold  sans-serif;
}


.container{
  
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      height: 252px;

 }

/* <!--Fin Parte 2 --> */


/* <!--CSS: Parte 4 - Estefania --> */
.download {
    background-color: rgba(220 , 220, 223, 0.8);
    padding-top: 80px;
    padding-bottom: 80px;
   
}
.content{
   display: flex;
   flex-wrap:wrap;
   align-content:center;
   justify-content: space-evenly;
   align-items:center;
   }
  
  .boxes{
     display:inline-flex;
     margin: 20px;

   }
  .boxes div{
   
   margin: 0 10px 0 10px;
  }

.c1{
    display: inline-flex;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: AvenirNextBold sans-serif;
    white-space: nowrap;
    margin-right: 16px;
    align-items: center;
   justify-content: flex-start;
} 


/* <!--Fin Parte 4 --> */
