/* <!--CSS: Parte 1 - Eddie --> */

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

@font-face {
    font-family: AvenirNext sans-serif;
    src: url(fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
    font-family: AvenirNextBold sans-serif;
    src: url(fonts/AvenirNextLTPro-Bold.otf);
}

@font-face {
    font-family: CarroisGothic-Regular;
    src: url(fonts/CarroisGothic-Regular.ttf);
}


body {
    font-family: AvenirNext sans-serif;
}

h1 {
    padding-right: 52px;
    padding-bottom: 52px;
    padding-left: 52px;
    color: #ff0026;
    font-weight: 700px;
    font-size: 70px;
    text-transform: uppercase;
    text-align: center;
    margin: 110px;
    line-height: 1;
    font-family: 'CarroisGothic-Regular', sans-serif;
}

.logo {
    height: 100%;
    margin: 250px;
}

.logo img{
    width: 300px;
    display: block;
    margin: auto;
}

/* <!--Fin Parte 1 --> */

/* <!--CSS: Parte 2 - Gabriel --> */

main {
    margin-top: 550px;
    text-align: center;
  }

input {
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
    height: 20px;
    max-width: 110px;
    height: 75%;
    border-radius: 8px;
    margin-right: 10px;
    font-size: 17px;
  }

form {
    height: 55px;
    padding-bottom: 10px ;
  }

  button{
    background-color: #FF0026;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 1px 16px;
    margin: 6px;
    height: 100%;
    border-radius: 8px;
    font-family: AvenirNextBold  sans-serif;
    font-size: 20px;
  }

#login , a{
    font-size: 18px;
    color: #9EA0A4;
}

#login a{
    font-weight: bold;
}

  .container{
      
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 252px;

  }

/* <!--Fin Parte 2 --> */

/* <!--CSS: Parte 4 - Estefania --> */

.download {
     background-color: rgba(220 , 220, 223, 0.8);
     padding-top: 52px;
     padding-bottom: 52px;
 }
 
 .content {
     padding-left: 52px;
     padding-right: 52px;
     margin: auto;
     max-width: 1037px;
 }
 
 .group {
     padding-bottom: 52px;
     display: table;
     width: 100%;
 }
 
 .titulo {
     display: table-cell;
     vertical-align: middle;
     text-align: left;
 }
 
 .appstores {
     text-align: right;
     display: table-cell;
     vertical-align: middle;
 }
 
 li {
     display: inline-flex;
     margin: 8px;
     vertical-align: middle;
     filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.15));
 }
 
 h2 {
     display: inline-flex;
     font-size: 36px;
     font-weight: 600;
     font-family: AvenirNextBold sans-serif;
     white-space: nowrap;
     margin-right: 16px;
 }
/* <!--Fin Parte 4 --> */
